-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
torch_nightly
starlette
uvicorn
gunicorn
python-multipart
aiofiles
aiohttp
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
python-dotenv
keras==2.2.4
tensorflow
pillow==6.0.0
opencv-python
